

/* 搜索下部分 */
.search-histroy {
  padding: 10px;

}
.search-histroy .history-title {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
.search-histroy ul {
  border: 1px dashed red;
}
.search-histroy ul li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.search-histroy ul li:last-child {
  border-bottom: none;
}
.search-histroy ul li a {
  padding: 0 10px;
}
.search-histroy ul li i {
  line-height: 30px;
}