.lt_sort {
  height: 30px;
  line-height: 30px;
  background-color: #EEEEEE;
  font-size: 12px
}
.lt_sort a {
  float: left;
  width: 25%;
  color: #666;
  text-align: center;
}
.lt_sort a.current {
  color: orange;
}