
/* 搜索上部分 */
.search {
  padding: 10px;
  position: relative;
}
.search .search-text {
  height: 34px;
  font-size: 12px;
  border: 1px solid #007AFF;
  margin: 0;
  border-radius: 5px;
  padding-right: 54px;
}
.search .search-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}

/* 搜索下部分 */
.search-histroy {
  padding: 10px;

}
.search-histroy .history-title {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
.search-histroy ul {
  border: 1px dashed red;
}
.search-histroy ul li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.search-histroy ul li:last-child {
  border-bottom: none;
}
.search-histroy ul li a {
  padding: 0 10px;
}
.search-histroy ul li i {
  line-height: 30px;
}